body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #262626;
}
.container{
    width: 550px;
    height: 550px;
    border: none;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    place-items:center;
    font-size: 50px;
}
.container div{
    width: 95px;
    height: 95px;
    background: #fff;
    margin: 3px;
    animation: a 1s linear alternate infinite;
}
.container .abc{
    animation-delay: 1s;
}
@keyframes a{
    0%{
        width: 95px;
        height: 95px;
        border-radius: 50% 0 50% 0;
        font-size: 25px;
    }
    100%{
        width: 135px;
        height: 135px;
        background: red;
        border-radius: 50% 0 50% 0;
        font-size: 50px;
    }
}